.header {
  margin: 2rem 0 1rem;
}

.description {
  margin: 1rem 0;
  font-size: .85rem;
  color: #999;
}

.optionsList {
  display: flex;
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

.optionListItem {
  display: flex;
  flex: 1 1 auto;
}

.countryOption {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 1rem;
}
.countryOptionFocused {
  background-color: rgba(0, 126, 255, 0.1);
}
.countryOptionSelected {
  font-weight: bold;
}

.countryFlag {
  height: 25px;
  width: auto;
  flex: 0 0 auto;
}

.countryLabel {
  flex: 1 1 auto;
}

.nameOption {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
}

.nameHeader {
  height: 25px;
  background-color: #eee;
  font-weight: bold;
  font-size: .85;
}
.nameOptionFocused {
  background-color: rgba(0, 126, 255, 0.1);
}

.nameOptionSelected {
  font-weight: bold;
}

:global(a.Select-value-label) {
  text-decoration: none;
}
:global(a.Select-value-label):hover {
  text-decoration: underline;
  cursor: pointer;
}

.loremIpsumOption {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid lightgray;
}
.loremIpsumOptionFocused {
  background-color: lightblue;
}
.loremIpsumOptionSelected {
  background-color: gold;
}
